.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin:60px 60px;
    width: 1250px;
    flex-wrap: wrap;
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
}
