.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 60px;
    max-width: 1250px;
    flex-wrap: wrap;
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        margin: 30px;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 15px;
    }
}
