.cont p{
    color: white;
    font-weight: 600;
}

.cont h2{
    color: white;  
}

.cont {
    margin: 20px 120px;
    width: 1100px;
    padding: 10px;
}

.but{
    display: flex;
    margin: 0 120px;
    height: 35px;
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
    border: none;
    width: 35px;
}
.but img{
    margin-top: 6px;
    width: 20px;
    height: 20px;
}
.but:hover{
    background-color: #4CAF50;
}
