.card {
    background-color: rgb(37, 37, 51);
    margin: 30px;
    border-radius: 15px 
}

.imag img{
    width: 250px;
    height: 250px; 
    border-radius: 15px 15px 0 0;
    
}
.closeButton:hover {
    opacity: 1;
}

.closeButton {
    position: absolute;
    margin: 100px 100px;
    background-color: #ffffff75;
    border: none;
    padding: 8px 12px;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.data{
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    color: aliceblue;
}
.data h2 {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.521);
    background-color:  #4CAF50;
    padding: 0 5px;
    font-size: large;
    font-weight: 400;
}

.name {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}