.barra{
    margin: 10px 0 0 0;
    position: relative;
}

.barra input{
    box-shadow: 0 0 5px white;
    width: 500px;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    background-color: rgb(37, 37, 51);
    border: none;
    border-radius: 5px;
    padding-right: 80px;
}

.barra button{
    height: 35px;
    background-color: rgb(37, 37, 51);
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
}

.barra button img{
    width: 20px;
    height: 35px;
}